@font-face {
  font-family: "PP Hatton";
  src: url("./font/PP\ Hatton\ Bold\ 700.otf") format("otf");
  src: url("./font/PP\ Hatton\ Medium\ 500.otf") format("otf");
  src: url("./font/PP\ Hatton\ Ultralight\ 200.otf") format("otf");
}
