/* @font-face {
  font-family: "PP Hatton";
  src: url("./font/PP\ Hatton\ Bold\ 700.otf") format("otf");
  src: url("./font/PP\ Hatton\ Medium\ 500.otf") format("otf");
  src: url("./font/PP\ Hatton\ Ultralight\ 200.otf") format("otf");
} */

@font-face {
  font-family: "PP Hatton";
  src: url("./font/PPHatton-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PP Hatton";
  src: url("./font/PPHatton-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PP Hatton";
  src: url("./font/PPHatton-Ultralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
